@media screen and (max-width: 992px){
  .clients__body {
    justify-content: space-evenly;
  }
  .about__container {
    flex-direction: column;
  }
  .about__gallery {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .hero__title {
    font-size: 35px;
  }
  .hero__arrow {
    bottom: 100px;
    left: 150px;
  }
  .card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .menu__icon {
    display: block;
  }
  .menu__list {
    position: absolute;
    top: 0;
    left: 0;
    background: #010208;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
  }
  .menu__link {
    font-size: 30px;
  }
  .menu__list.active {
    transform: translateX(0);
  }
  .menu__icon.active span {
    transform: scale(0);
  }
  .menu__icon.active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu__icon.active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
  .clients,
  .works,
  .about {
    padding: 30px 0;
  }
  .clients__title ,
  .works__title{
    font-size: 30px;
  }
  .clients__body,
  .works__body {
    margin-top: 40px;
  }
  .card:not(:last-child) {
    margin-bottom: 50px;
  }
  .work,
   .about {
    scroll-margin-top: 70px;
}
}
@media screen and (max-width: 475px) {
  .works__text,
  .about__text {
    font-size: 25px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 400px) {
  .hero__title {
    font-size: 25px;
  }
  .footer__title {
    font-size: 30px;
  }
}